{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Quick Quiz</title>
    <!-- <link rel="stylesheet" href="{%static "bootstrap/css/bootstrap.min.css"%}" /> -->
    <link rel="stylesheet" href="{%static "css/app.css"%}" />
  </head>
  <body>
    <div class="container">
      <div id="loader"></div>
      <div id="home" class="flex-center flex-column">
        <h1>Quiz Themes</h1>
        <div class="pagination">
          <a class="btn" id="prev"><<</a>
          <a class="btn" id="next">>></a>
        </div>
          <a class="btn" href="/quiz/theme-add">Add New Theme</a>
        </div>
      </div>
      <script src="{%static "js/index.js"%}"></script>
  </body>
</html>
