{% extends 'quiz/base.html' %}
{% block content %}
    <section class="contact-area">
        <div class="container">
            <div class="row">
            
                <!-- Contact Form -->
                <div class="col-12 col-md-12">
                    <div class="single-blog-area padding wow fadeInUp contact-form" data-wow-delay="250ms"">
                        <form action="/login/" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="login" id="login" placeholder="Login">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="password" class="form-control" name="password" id="password" placeholder="Parol">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn clever-btn w-10" type="submit">Kirish</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}